<h1>choose your poison</h1>

<div id="standoff">
	<img class="quiz1" id="kate" src="../img/bush.jpg"></a>
	<img class="quiz1" id="sinead" src="../img/oconner.jpg"></a>


<form id="quiz1" action="/results" method="POST">
	<ul>
	<li><label for="POST-item"></label>
	  <input type="radio" id="Q1" name="Q1" value="1">Kate Bush</input></li>
	 <li><input type="radio" id="Q1" name="Q1" value="-1">Sinead O'conner</input></li>
	</ul>
</br>
	<button type="submit" value="Submit">Submit</button>
</form>

</div>


