<h1> you're having... </h1>

	<% if @results == "*" %>
	 		<IMG class="displayed" id="english_breakfast" src="../img/12english.jpg">
	<% elsif @results == "^" %>
			<IMG class="displayed" id="irish_breakfast" src="../img/13irish.jpg">
	<% end %>

<h2 id="play_again"><a href="/quiz">play again?</a></h2> 
