<h1> you're having... </h1>

	<% if @results == "*" %>
	 		<IMG class="displayed" id="english_breakfast" src="../img/12english.jpg">
	<% elsif @results == "_" %>
			<IMG class="displayed" id="irish_breakfast" src="../img/13irish.jpg">
	<% else %>
		<iframe class="displayed" width="560" height="315" src="//www.youtube.com/embed/6No9Psz264M" frameborder="0" allowfullscreen></iframe>
	<% end %>

<h2 id="play_again"><a href="/quiz">play again?</a></h2> 
