<h1> You're having... </h1>

	<% if @results == "1" %>
	 		<IMG class="displayed" id="english_breakfast" src="../img/english.jpg">
	<% else %>
			<IMG class="displayed" id="irish_breakfast" src="../img/irish.jpg">
	<% end %>
