  input[type=radio]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(4); /* IE */
  -moz-transform: scale(4); /* FF */
  -webkit-transform: scale(4); /* Safari and Chrome */
  -o-transform: scale(10); /* Opera */
  margin-right: 30px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
  }

  .irish {
    color: green;
  }

  .english {
    color: blue;
  }

  #standoff {
    text-align: center
  }

IMG.quiz1 {
   padding: 50px;
   height: 900px;
}


  body {
  background: black;
  font-weight: 400;
  padding-top: 30px;
}
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../img/ratpack.jpg) no-repeat top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 -20px;
}
.content {
  height: 500px;
  overflow: scroll;
}
h1, h2, h3 {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
}
h1 {
  font-weight: 900;
  font-style: italic;
  color: yellow;
  font-size: 200px;
  text-align: center;
}
h2 {
  font-weight: 400;
  font-size: 50px;
  color: white;
}
h2 a {

}
h3 {
  text-align: left;
}

section {
  padding: 10px 20px;
  margin: 20px 0;
  background: rgba(255,255,255,.6);
}
pre {
  display: inline;
  padding: 2px;
}
.navbar {
  z-index: 0;
}
#github {
  z-index: 2;
}

li {
  font-size: 40px;
  margin-top: 30px;
  color: white;
  list-style: none;
}